/* 
Código Hexadecimal verde: #8EC641
Código Hexadecimal gris footer: #3B3B3B
*/
/*Sección Bienvenida*/
body{
	margin: 0;
	font-family: 'Raleway', sans-serif;
}
#bienvenida {
	background: url("../img/fondo-bienvenida.jpg");
	background-size: cover;
	background-position: center;
	padding: 50px 0;
}

.logo {
	text-align: left;
	padding: 0 30px;
}

.mensaje {
	text-align: center;
}

/*secciones fondo de color*/
.color {
	background-color: #8EC641;
	margin: 0;
}

/*Newsletter*/
.newsletter{
	text-align: center;
	padding: 50px;
}
.newsletter button {
	color: white;
	background-color: #8EC641;
	padding: 20px;
	border: 5px solid white;
	border-radius: 5px;
	font-size: 1.5em;
	font-weight: bolder;
	cursor: pointer;
}
.newsletter h1{
	color: white;
	font-size: 3em;
	margin-top: 10px;
	text-transform: uppercase;
}
.newsletter label{
	display: block;
	color: white;
	font-size: 1.5em;
	margin-top: 20px;
	margin-bottom: 10px;
}
.formulario input, .checkbox {
	display: block;
	margin: 0 auto;
}
.formulario input {
	width: 550px;
	height: 20px;
	border: 0px solid #000000;
	border-radius: 30px;
}
.formulario input::-webkit-input-placeholder { color:#8EC641; padding-left: 10px;}

#fav-tea {
	border: 0px solid #000000;
	border-radius: 30px;
	background-color: #DBDBDB;
}
.checkbox {
	display: block;
	color: white;
	font-size: 1em;
	margin: 10px 0;
}
/*Sección About*/
#about{
	background: url("../img/fondo-about.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.contenido{
	color: white;
	width: 40%;
	margin: 0 auto;
	padding: 30px 30px 100px 30px;
}
.contenido h1{
	font-weight: bolder;
	font-size: 5rem;
	line-height: 5rem;
	text-transform: uppercase;
}
/*Tipos de té*/
.te-diferentes{
	color: white;
	padding: 30px;
	width: 60%;
	margin: 0 auto;
}
.tipo-de-te{
	border: 5px solid white;
	margin:30px 0;
	padding: 20px;
}
.tipo-de-te h2 {
	font-size: 1.5em;
}

/*Disfruta*/
#disfruta{
	background: url("../img/disfruta.jpg");
	background-size: cover;
	background-position: center;
	padding: 50px 0;
}

/*Footer*/
footer {
	background-color: #3B3B3B;
	padding: 20px 30px;
	color: white;
}